body {
    background-color: rgb(55, 38, 209);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 100px;
}

h2 {
    text-align: center;
    color: aliceblue;
}

p {
    line-height: 40px;
    font-size: 40px;
    text-align: justify;
}

#text01 {
color: azure;
text-align: right;
}

#text02 {
background-color: bisque;
text-transform: uppercase;
} 

img {
    height: 320px;
    width: 320px;
    border-radius: 320px;
}
